body {
	margin: 0;
	padding: 0;
	border: 0;
}

section {
	position: relative;
	margin: 20px auto;
	width: 200px;
	height: auto;
	border: 1px solid #000;
}

input[type="text"] {
	margin: 5px;
	width: 185px;
}

input[type="submit"] {
	margin: 5px;
	width: 190px;
	cursor: pointer;
}

progress {
	position: relative;
	top: 1px;
	background: #fff;
	height: 20px;
	border: 0;
}

progress::-moz-progress-bar {
	background: #2544e4;
}

progress::-webkit-progress-value {
	background: #2544e4;
}

.danger {
	position: relative;
	background: #ff0000;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

.success {
	position: relative;
	background: #00ffff;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
